.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 900px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.restaurant-tables {
    border: 4px solid white;
    margin-top: 70px;
    padding: 20px;
    border-radius: 10px;
}

.restaurant-tables {
    text-align: left;
}

.restaurant-table{
    border: 4px solid white;
    margin-top: 70px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.content {
    color: gray;
}

.logo {
    width: 240px;
}